/*------------------------------------*/
/*              REGULAR               */
/*------------------------------------*/

/* -----    REGULAR    ------*/
@font-face {
    font-family: 'Oleo Script';
    src:    url('./OleoScript/regular/OleoScript-Regular.eot?#iefix') format('embedded-opentype'),
            url('./OleoScript/regular/OleoScript-Regular.woff') format('woff'),
            url('./OleoScript/regular/OleoScript-Regular.woff2') format('woff2'),
            url('./OleoScript/regular/OleoScript-Regular.ttf')  format('truetype'),
            url('./OleoScript/regular/OleoScript-Regular.svg#OleoScript') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}


/*------------------------------------*/
/*              BOLD               */
/*------------------------------------*/

/* -----    BOLD    ------*/
@font-face {
    font-family: 'Oleo Script';
    src:    url('./OleoScript/bold/OleoScript-Bold.eot?#iefix') format('embedded-opentype'),
            url('./OleoScript/bold/OleoScript-Bold.woff') format('woff'),
            url('./OleoScript/bold/OleoScript-Bold.woff2') format('woff2'),
            url('./OleoScript/bold/OleoScript-Bold.ttf')  format('truetype'),
            url('./OleoScript/bold/OleoScript-Bold.svg#OleoScript') format('svg');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}